body {
    background-color: lightblue;
}
.tooltip {
    text-decoration: underline;
    color: darkblue;
    position: relative;
    display: inline-block;
}

.tooltipText {
    position: absolute;
    top: 100%;
    display: block;
    background-image: linear-gradient(grey,darkslategrey);
    text-align: center;
    color: lightseagreen;
    border: solid black 3px;
    z-index: 1;
    font-family: "Courier 10 Pitch", sans-serif;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: white 0px 0px 4px 4px;
}
