*{
    list-style-type: none;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: linear-gradient(whitesmoke,grey);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}
.toDo, .done {
    min-width: 500px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgba(100,120,140, 0.6);
    font-family: FreeSerif , sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
    color: whitesmoke;

}
.toDo{
   background-color: darkslategrey;;
}
.done{
    background-color: lawngreen;
}
.done ul {
    background-color: lightgray;
    color: green;
}
.toDoTask, #header {
    border: 2px solid rgba(100,120,140, 0.6);
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    color: maroon;
    font-size: 20px;
    min-height: 55px;
}
.toDoTask{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
}

.taskList{
    height: 100%;
    display: flex;
    width: 600px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
    padding-right:60px ;
}

#taskInput {
    margin-top: 30px;
    margin-left: 60px;
    width: 80%;
    display: inline-block;
    float: left;
}

#addTaskButton {
    background-image: url("../images/icons8-plus-40.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    display: inline-block;
}
#removeFinishedTasksButton{
    margin-left: 60px;
    width: 50%;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 50px;

}
h1 {
    margin-left: 60px;
}
#header{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-left: 60px;
    width: 90%;
    text-align: center;
}
.checked{
    float: right;
}
.deleteBtn,
.completeBtn,
.tickedImage
{
    height: 40px;
    width: 40px;
    background-size: contain;
    border-radius: 50%;
    border: 0;
    box-shadow: none;
}
.deleteBtn{
    background-image: url("../images/icons8-cancel-40.png");
}
.completeBtn{
    background-image: url("../images/icons8-ok-40.png");
}
.tickedImage{
    background-image: url("../images/icons8-checkmark-480.png");
}
