*{
    list-style-type: none;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #0e0b16;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}
.toDo, .done {
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    font-family: FreeSerif , sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
    color: whitesmoke;

}
.toDo{
   background-color: #f78f8f;
}
.done{
    background-color: #bae0bd;
}
.done ul {
    background-color: #e7dfdd;
    color: green;
}
.toDoTask, #header {
    background-color: #e7dfdd;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    color: #0e0b16;
    font-size: 20px;
    min-height: 55px;
}
.toDoTask{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 500px;
}

.taskList{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
}
#taskList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;

}

#taskInput {
   background-color: #e7dfdd;
    display: inline-block;
    float: left;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    width: 360px;
}

#addTaskButton {
    background-image: url("../images/icons8-plus-40.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    align-items: center;
    border-radius: 50%;
    display: inline-block;
    border: none;

}
#removeFinishedTasksButton{
    background-color: #4717f6 ;
    width: 70%;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 50px;
    border: none;

}

#header{
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}
.checked{
    float: right;
}
.deleteBtn,
.completeBtn,
.tickedImage
{
    height: 40px;
    width: 40px;
    background-size: contain;
    border-radius: 50%;
    border: 0;
    box-shadow: none;
}
.deleteBtn{
    background-image: url("../images/icons8-cancel-40.png");
}
.completeBtn{
    background-image: url("../images/icons8-ok-40.png");
}
.tickedImage{
    background-image: url("../images/icons8-checkmark-480.png");
}
#counterDiv{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}
